* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
}

h1{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size:x-large;
}

.form-group {
  margin: 10px;
}

label{
  display: block;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

input{
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

button{
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  cursor: pointer;
}

.error{
  display: block;
  color: #f00;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}